<article class="post">
        <h3 id="about-me" class="stagger-item post-header"><img  src="/public/img/JalongGit.png" alt="alt text" />  About Me</h3>
        <div class="">
            <div class="left">
                <li>졸업    : 명지대학교 정보통신학과 졸업</li>
                <li>연차  : 4년차( 2020.10~ )</li>
                <li>개발분야(관심분야)   : <span  class="badge"> Java </span> <span  class="badge"> Spring </span></li>
                <li>자격증   : 정보처리기사 MosMaster</li>
                <li>Blog  : <a href="https://carpal-pull-289.notion.site/Memo-3dd724980fe64e7e8086683c12eb4bed?pvs=4">Notion URL</a> </li>
            </div>
            <div class="right">
                <p>Java &amp; Spring 기반의 4년차 개발자로
                    <strong>(주)더존비즈온</strong>에서 국내 ERP 솔루션 1위의 제품인 웹기반 ERP10 차세대 솔루션을 시작으로 개발 일을 시작하였고,
                    이를 기반으로 <strong>(주)신세계 아이엔씨</strong>의 ERP 개발 업무 및 유지보수를 진행 해왔습니다.<br>
                    그 후
                    ERP 전문가가 아닌 <mark>개발자로서 성장</mark> 하기 위해서  <strong>(주)모아데이타</strong>에서 AI기술을 활용한 서버 이상 감지 솔루션인 '페타온'을
                    개발 하고 있습니다.<br>팀원과 팀의 성장을 위해서는 <mark>효율성 있는 개발</mark>을 해야한다는 생각에 <strong>속도 개선</strong>뿐 아니라
                    불필요한 코드에 대한 사용을 줄이고 <mark>코드 공통화</mark>에 대한 부분을 중요시하여 <strong>화면 7개를 1개의 컴포넌트로 구성 </strong>하고,  <strong>불필요한 로직을 개선 하는 등</strong>
                    효율성에 집중하며 개발에 임하고 있습니다.
            </div>
        </div>


    <h3 class="post-header">Career <span class="badge"> 총 3년 3개월</span> </h3>
        <li><strong>모아데이타 2022.10.06 ~ 현재 </strong> : AI 연구소 -UI/UX팀  <span  class="badge"> Java </span> <span  class="badge"> Spring </span> <span  class="badge"> Jsp </span> / <span  class="badge"> Node.js </span> <span  class="badge"> React </span> </li>
        <li><strong>신세계아이엔씨 2022.06.20 ~ 2022.09.30 </strong>: 재무시스템 개발팀 <span  class="badge"> Java </span> <span  class="badge"> 가우스(GAUCE) </span></li>
        <li><strong>더존비즈온  2020.10.05 ~ 2022 .06.17</strong> : 차세대 ERP10 프로젝트 개발팀   <span  class="badge"> Java </span> <span  class="badge"> Spring </span></li>

    <h3 class="post-header">Work Experience & Project</h3>
    <p style="text-align: center">모아데이타<br><a  href="https://carpal-pull-289.notion.site/e077603e5d24451da3c7756a9b25c759?pvs=4">Notion 정리</a></p>
    <div class="contents">
        <div class="p1"><p><span><b>페타온 프로젝트</b></span><br>2022.10.06 ~현재</p>
        </div>
        <div class="p2">
                    <ul style="line-height: 150%">
                        <li>위젯14개의 대시보드 비동기 처리방식으로 변경 - 14초의 <mark>화면 속도 개선</mark> </li>
                        <li>메인 대시보드의 화면 로직 공통화 개발작업 -  약 40줄의 불필요한 <mark>코드 개선 및 코드 공통화</mark> </li>
                        <li>이중로그인 처리를 위한 config 구성 <span  class="badge">HttpSessionListener</span>이용 </li>
                        <li>위젯편집기 신규 기능 추가 개발 </li>
                        <li>페타온 제품 영문화 적용</li>
                    </ul>
<!--                    <ul>-->
<!--                        <li> <mark><a href="https://carpal-pull-289.notion.site/e077603e5d24451da3c7756a9b25c759?pvs=4">관련 업무 정리 자료</a></mark></li>-->
<!--                    </ul>-->

        </div>
    </div>

    <div class="contents">
        <div class="p1">
            <p><span><b>'헬스캐치' 프로젝트</b></span><br> 2023.08 ~2023.12</p>
        </div>
        <div class="p2">
            <ul style="line-height: 150%">
                <li>헬스케치 밴드 사용자에 대한 백오피스 관리 웹 페이지 개발.</li>
                <li>알람 6종에대한 데이터를 화면에 시각화.  <span  class="badge">Nivo 차트</span>이용</li>
                <li><span  class="badge">React</span>를 이용하여 <mark>코드 간소화 (그리드 컴포넌트 1개로 7개의 화면에 적용.)</mark></li>
            </ul>
        </div>
    </div>

    <div class="contents">
        <div class="p1">
            <p><span><b>사내 영업관리 <br>시스템 프로젝트</b></span><br> 2023.01 ~ 2023.04</p>
        </div>
        <div class="p2">
            <ul style="line-height: 150%">
                <li>Agent에대한 병원 매출 관련하여 경영처리 할 수 있는 웹 개발.<span  class="badge">Node.js</span>이용</li>
                <li>엑셀로 관리하던 매출 ,채권,수수료 등을 화면에서 관리하고 적용하여 <mark>경영업무 단축화.</mark></li>
            </ul>
        </div>
    </div>

    <div class="contents" style="margin-bottom: -4%">
        <div class="p1">
            <p><span><b> 모아데이타 홈페이지</b></span><br> 2022.11~2023.01</p>
        </div>
        <div class="p2">
            <ul>
                <li><a href="https://carpal-pull-289.notion.site/Memo-3dd724980fe64e7e8086683c12eb4bed?pvs=4">사내 홈페이지 구축. MAU가 약 5022명  페이지 뷰수가 31162건 </a></li>
                <li>외주로 관리하던 홈페이지에 대한 <mark>공수 및 비용 해결</mark>. <br>추후 유지보수에 대한 의사소통에 대한 문제 해결.</li>
            </ul>
        </div>
    </div>



</article>
