<article class="post">
        <h3 id="about-me" class="stagger-item post-header"><img  src="/public/img/JalongGit.png" alt="alt text" />  About Me</h3>
        <div class="">
            <div class="left">
                <li>졸업    : 명지대학교 정보통신학과 졸업</li>
                <li>연차  : 4년차( 2020.10~ )</li>
                <li>개발분야(관심분야)   : <span  class="badge"> Java </span> <span  class="badge"> Spring </span></li>
                <li>자격증   : 정보처리기사 MosMaster</li>
                <li>Blog  : <img src="public/img/NotionIcon.png" /><a href="https://carpal-pull-289.notion.site/Memo-3dd724980fe64e7e8086683c12eb4bed?pvs=4">Notion URL</a> </li>
            </div>
            <div class="right">
                <p>Java &amp; Spring 기반의 4년차 개발자로
                    <strong>(주)더존비즈온</strong>에서 국내 ERP 솔루션 1위의 제품인 웹기반 ERP10 차세대 솔루션을 시작으로 개발 일을 시작하였고,
                    이를 기반으로 <strong>(주)신세계 아이엔씨</strong>의 ERP 개발 업무 및 유지보수를 진행 해왔습니다.<br>
                    그 후
                    ERP 전문가가 아닌 <mark>개발자로서 성장</mark> 하기 위해서  <strong>(주)모아데이타</strong>에서 AI기술을 활용한 서버 이상 감지 솔루션인 '페타온'을
                    개발 하고 있습니다.<br>팀원과 팀의 성장을 위해서는 <mark>효율성 있는 개발</mark>을 해야한다는 생각에 <strong>속도 개선</strong>뿐 아니라
                    불필요한 코드에 대한 사용을 줄이고 <mark>코드 공통화</mark>에 대한 부분을 중요시하여 <strong>화면 7개를 1개의 컴포넌트로 구성 </strong>하고,  <strong>불필요한 로직을 개선 하는 등</strong>
                    효율성에 집중하며 개발에 임하고 있습니다.
            </div>
        </div>


    <h3 class="post-header"><img src="public/img/blueCheckIcon.png" style="max-width: 2%;">Career <span class="badge"> 총 3년 3개월</span> </h3>
        <li><strong>모아데이타 2022.10.06 ~ 현재 </strong> : AI 연구소 -UI/UX팀  <span  class="badge"> Java </span> <span  class="badge"> Spring </span> <span  class="badge"> Jsp </span> / <span  class="badge"> Node.js </span> <span  class="badge"> React </span> </li>
        <li><strong>신세계아이엔씨 2022.06.20 ~ 2022.09.30 </strong>: 재무시스템 개발팀 <span  class="badge"> Java </span> <span  class="badge"> 가우스(GAUCE) </span></li>
        <li><strong>더존비즈온  2020.10.05 ~ 2022 .06.17</strong> : 차세대 ERP10 프로젝트 개발팀   <span  class="badge"> Java </span> <span  class="badge"> Spring </span></li>




    <h3 class="post-header"><img src="public/img/blueCheckIcon.png" style="max-width: 2%;"/> Work Experience & Project</h3>

    <!--                                                             모아데이타 정리 Start                                                -->
    <p style="text-align: center">  <img src="public/img/GreenCheckIcon.png" style="max-width: 2%;"/>모아데이타<br><a  href="https://carpal-pull-289.notion.site/e077603e5d24451da3c7756a9b25c759?pvs=4">모아데이타 Notion 정리</a></p>
    <div class="contents">
        <div class="p1"><p><span><b>페타온 프로젝트</b></span><br>2022.10.06 ~현재</p>
        </div>
        <div class="p2">
                    <ul style="line-height: 150%">
                        <li>위젯14개의 대시보드 비동기 처리방식으로 변경 - 14초의 <mark>화면 속도 개선</mark> </li>
                        <li>메인 대시보드의 화면 로직 공통화 개발작업 -  약 40줄의 불필요한 <mark>코드 개선 및 코드 공통화</mark> </li>
                        <li>이중로그인 방지를 위한 config 구성 <span  class="badge">HttpSessionListener</span>이용 </li>
                        <li>위젯편집기 신규 기능 추가 개발 </li>
                        <li>페타온 제품 영문화 적용</li>
                    </ul>
        </div>
    </div>

    <div class="contents">
        <div class="p1">
            <p><span><b>'헬스캐치' 프로젝트</b></span><br> 2023.08 ~2023.12</p>
        </div>
        <div class="p2">
            <ul style="line-height: 150%">
                <li>헬스케치 밴드 사용자에 대한 백오피스 관리 웹 페이지 개발.</li>
                <li>알람 6종에대한 데이터를 화면에 시각화.  <span  class="badge">Nivo 차트</span>이용</li>
                <li><span  class="badge">React</span>를 이용하여 <mark>코드 간소화 (그리드 컴포넌트 1개로 7개의 화면에 적용)</mark></li>
            </ul>
        </div>
    </div>

    <div class="contents">
        <div class="p1">
            <p><span><b>사내 영업관리 <br>시스템 프로젝트</b></span><br> 2023.01 ~ 2023.04</p>
        </div>
        <div class="p2">
            <ul style="line-height: 150%">
                <li>Agent에대한 병원 매출 관련하여 경영처리 할 수 있는 웹 개발.<span  class="badge">Node.js</span>이용</li>
                <li>엑셀로 관리하던 매출 ,채권,수수료 등을 화면에서 관리하고 적용하여 <mark>경영업무 단축화</mark></li>
            </ul>
        </div>
    </div>

    <div class="contents" style="margin-bottom: -4%">
        <div class="p1">
            <p><span><b> 모아데이타 홈페이지</b></span><br> 2022.11~2023.01</p>
        </div>
        <div class="p2">
            <ul>
                <li><a href="https://www.moadata.co.kr/">사내 홈페이지 구축. MAU가 약 5022명  페이지 뷰수가 31162건 </a></li>
                <li>외주로 관리하던 홈페이지에 대한 <mark>공수 및 비용 해결</mark>. <br>추후 유지보수에 대한 의사소통에 대한 문제 해결</li>
            </ul>
        </div>
    </div>
    <!--                                                             모아데이타 정리 end                                                -->

    <br><br>
    <!--                                                             신세계아이엔씨 Start                                                -->
    <p style="text-align: center"><img src="public/img/GreenCheckIcon.png" style="max-width: 2%;"/>신세계 아이엔씨<br><a  href="https://carpal-pull-289.notion.site/17f360585baa41d3824a62075e951f76?pvs=4">신세계 아이엔씨 Notion 정리</a></p>
    <div class="contents">
        <div class="p1">
            <p><span><b>사내 ERP <br>'SPAS' 개발 및 운영</b></span><br> 2022.06.20 ~ 2022.09.30</p>
        </div>
        <div class="p2">
            <ul style="line-height: 150%">
                <li>반복적인 운영 업무( 빈번한 회계정보요청 로직 변경 , 비밀번호 처리 로직 추가 등 )에 대한 로직을 추가하여 <mark>불필요한 운영업무 시간감소</mark></li>
                <li><span  class="badge">PreparedStatement</span>배치를 이용하여 <mark>Insert 처리 로직 개선 </mark></li>
                <li>1000건 기준으로 15초 이상 걸리던 로직에서 addBatch()를 통해 1초로 개선 </li>
            </ul>
        </div>
    </div>
    <!--                                                             신세계아이엔씨 End                                                -->

    <br><br>
    <!--                                                        동방 start                        -->
     <p style="text-align: center"><img src="public/img/GreenCheckIcon.png" style="max-width: 2%;"/>더존비즈온<br><a  href="https://carpal-pull-289.notion.site/5b33edd08c13432689383452c6931f84?pvs=4">더존비즈온 Notion 정리</a></p>

    <div class="contents">
        <div class="p1">
            <p><span><b>(주)아이디스파워텔</b></span><br> 2021.04 ~2022.06</p>
        </div>
        <div class="p2">
            <ul>
                <li>개발 및 수정된 파일(jar,html)을 지정한 서버 경로에 두고, 수동배포 할 수 있도록 <mark>환경 개선.</mark>
                    <br> - 정규배포 대기시간 감소 및 빈번한 수정사항 발생시 신속한 대응.
                </li>
            </ul>
        </div>
    </div>

    <div class="contents" style="margin-bottom: -4%">
        <div class="p1">
            <p><span><b>(주)동방 EPR 프로젝트</b></span><br>2020.12 ~ 2021.04</p>
        </div>
        <div class="p2">
            <ul style="line-height: 150%">
                <li>고객사 개발자들에게 자체 프론트 프레임워크인<span  class="badge">Dews</span> 사용법 및 <span  class="badge">git</span> 연동 관련 교육 </li>

            </ul>
        </div>
    </div>

    <h3 class="post-header"><img src="public/img/ectIcon.png">외부 및 개인 취미 활동</h3>
    <div class="contents">
        <div class="p1">
            <p><span><b>NHN FORWARD 22</b></span><br> 2022.11.24 (목)</p>
        </div>
        <div class="p2">
            <ul>
                <li>NHN FORWARD를 청취하고, <a href="https://carpal-pull-289.notion.site/NHN-2022-11-24-1f4ffef36d0443f39f1f7715857db672?pvs=4">회사 내부에서 활용 포인트 발표.</a>
                    <br> - 편안한 휴식 시간을 지켜줄 안정적인 벡엔드 운영과 개발 기법
                    <br>  - ES를 이용한 상품 검색 엔진 개발 일지
                </li>
            </ul>
        </div>
    </div>
    <div class="contents">
        <div class="p1">
            <p><span><b>레모아 프로젝트 참여.(2기)</b></span><br> 2024.11.08 ~ 2024.11.24</p>
        </div>
        <div class="p2">
            <ul>
                <li><a href="https://carpal-pull-289.notion.site/15f8e20cd7de4b34b141a0e79a8de931?pvs=4">레모아 프로젝트에 참여 하여 배포환경 구축 및 수정 보완 작업.</a>
                    <br> - <span  class="badge">도거</span>  <span  class="badge">젠킨슨</span> 서버 환경 구축 (AWS - EC2 서버)
                    <br> - <span  class="badge">JPA</span> 환경에서 BACK-END 개발
                </li>
            </ul>
        </div>
    </div>


</article>
