<article class="post">
        <h3 id="about-me" class="stagger-item post-header"><img  src="/public/img/JalongGit.png" alt="alt text" />  About Me</h3>
        <div class="">
            <div class="left">
                <li>졸업    : 명지대학교 정보통신학과 졸업</li>
                <li>연차  : 4년차( 2020.10~ )</li>
                <li>개발분야(관심분야)   : <span  class="badge"> Java </span> <span  class="badge"> Spring </span></li>
                <li>자격증   : 정보처리기사 MosMaster</li>
                <li>Blog  : <a href="https://carpal-pull-289.notion.site/Memo-3dd724980fe64e7e8086683c12eb4bed?pvs=4">Notion URL</a> </li>
            </div>
            <div class="right">
                <p>Java &amp; Spring 기반의 4년차 개발자로
                    <strong>(주)더존비즈온에서 국내 ERP 솔루션 1위의 제품인 웹기반 ERP10 차세대 솔루션</strong>을 시작으로 개발 일을 시작하였고,
                    이를 기반으로 <strong>(주)신세계아이엔씨에서 신세계 아이엔씨의 ERP 개발 업무 및 유지보수</strong>를 진행 해왔습니다.<br>
                    그 후
                    ERP 전문가가 아닌 <mark>개발자로서 성장</mark> 하기 위해서  <strong>(주)모아데이타라는 회사에서 AI기술을 활용한 서버 이상 감지 '페타온'</strong>을
                    개발 하고 있습니다.팀원과 팀의 성장을 위해서는 <mark>효율성있는 개발</mark>을 해야한다는 생각에 <strong>속도 개선</strong>뿐 아니라
                    불필요한 코드에 대한 사용을 줄이고 <mark>코드 공통화</mark>에 대한 부분을 중요시하여 <strong>화면 7개를 1개의 컴포넌트로 구성 </strong>하고,  <strong>불필요한 로직을 개선</strong>하여
                    코드를 줄이며 개발에 임하고 있습니다.
            </div>
        </div>


    <h3 class="post-header">Career <span class="badge"> 총 3년 3개월</span> </h3>

    <h3 class="post-header">Work Experience & Project</h3>


</article>
